lombok.copyableAnnotations += jakarta.validation.constraints.Null
lombok.copyableAnnotations += jakarta.validation.constraints.NotNull
lombok.copyableAnnotations += jakarta.validation.constraints.NotEmpty
lombok.copyableAnnotations += jakarta.validation.constraints.NotBlank
lombok.copyableAnnotations += jakarta.validation.constraints.AssertTrue
lombok.copyableAnnotations += jakarta.validation.constraints.AssertFalse
lombok.copyableAnnotations += jakarta.validation.constraints.Min

