lombok.copyableAnnotations += jakarta.validation.constraints.Null
lombok.copyableAnnotations += jakarta.validation.constraints.NotNull
lombok.copyableAnnotations += jakarta.validation.constraints.NotEmpty
lombok.copyableAnnotations += jakarta.validation.constraints.NotBlank
lombok.copyableAnnotations += jakarta.validation.constraints.AssertTrue
lombok.copyableAnnotations += jakarta.validation.constraints.AssertFalse
lombok.copyableAnnotations += jakarta.validation.constraints.Min
lombok.copyableAnnotations += jakarta.validation.constraints.Max
lombok.copyableAnnotations += jakarta.validation.constraints.Pattern
lombok.copyableAnnotations += jakarta.validation.constraints.Email
lombok.copyableAnnotations += jakarta.validation.constraints.Positive
lombok.copyableAnnotations += jakarta.validation.constraints.PositiveOrZero
lombok.copyableAnnotations += jakarta.validation.constraints.Negative
lombok.copyableAnnotations += jakarta.validation.constraints.NegativeOrZero
